{% extends 'base.html' %}

{% block title %}Explore{% endblock %}


{% block body %}

	<div class="container container-fluid">
		<div class="card">
			<h1>Public Notebooks</h1>
			{% for notebook in notebooks %}
	          <div onclick="location.href='{% url 'detailed_notebook' notebook.id %}';" class="notebook" style="background-color: {{notebook.color}};padding: 10px;margin: 5px;cursor: pointer;">
	            {{notebook.name}}
	            <br>
	            {{notebook.description}}
	          </div>
        	</a>
			{% empty %}
			<p>Noone shared notes.</p>
			{% endfor %}
		</div>
	</div>

{% endblock %}