{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block style %}
{% endblock %}

{% block body %}

  <div class="container container-fluid">
    <div class="card" style="padding:20px;">

      <h1 style="font-size: 4rem;" align="center">{{user.username}}</h1>
      <a href="{% url 'edit_profile' %}">Edit profile</a>

      {% if user.profile.photo %}
      <img style="width: 20%; height: auto;margin-top: 20px; margin-left: 20px;float: left;border-radius: 50px;" src="{{user.profile.photo.url}}" alt="{{user.username}}">
      {% else %}

      {% endif %}
      <br>
      <p align="justify">{{user.profile.bio}}</p>
    </div>

    <br>
    <h2>Notebooks</h2>
    <div class="card" style="padding:20px;">
      <a style="float: right;text-decoration: none;" href="{% url 'create_notebook' %}">Create one!</a>
      {% for notebook in notebooks %}
          <div onclick="location.href='{% url 'detailed_notebook' notebook.id %}'" class="notebook shadow" style="background-color: {{notebook.color}};">
            {{notebook.name}}
            <br>
            {{notebook.description}}
          </div>

      {% endfor %}
    </div>
    

  </div>
	
{% endblock %}